.colores{
    padding: 1rem 2rem;
}
.galeria {
    margin-top: 50rem;
}
.item {
    margin: 50rem 50rem;
}
.jc-img{
    width: 100%;
    height: 30rem;
}
.jc-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}