/* how */
.how {
    width: 100%;
}

.how.titulo {
    width: 100%;
    background-color: var(--color5);
    padding: 4rem 2rem;
}

.etiqueta {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}
.etiqueta span {
    font-weight: 900;
}
.etiqueta hr{
    margin: 0 1rem;
}
.how span, h1, p {
    color: var(--color2);
    margin-top: 1.5rem;
}
.how .titulo h2 {
    font-size: 5rem;
    margin-top: 3rem;
}
.how span{
    font-size: 2rem;
    color: black;
}
.how p {
    font-size: 1.4rem;
    margin-top: 3rem;
    color: black;
}
@media only screen and (min-width: 1200px) {
    .services {
        width: 80%;
        margin: auto;

        display: flex;
    }
    .services .titulo {
        width: 40%;
    }
    .contenido{
        width: 60%;
    }
    .botones {
        width: 100%;
        margin-top: 10rem;
        flex-direction: row;
        justify-content: left;
    }
    .botones .bt1 {
        margin-top: 0;
    }
    .botones .bt2 {
        margin-top: 0;
        margin-left: 2rem;
    }
}