.marteking{
    height: 30rem;
    padding: 2rem;
    background-color: var(--color4);
}
.marteking .etiqueta {
    color: var(--color4);
}
.marteking h2 {
    color: var(--color4);
    font-size: 4rem;
    margin-top: 5rem;
}
.marteking p {
    font-size: 1.6rem;
}